# Environment
NEXT_PUBLIC_ENVIRONMENT=dev

# SB
NEXT_PUBLIC_STORYBLOK_ACCESS_TOKEN=

# MAILING
MAIL_USER_NAME=
MAIL_PORT=
MAIL_PASS=
MAIL_HOSTNAME=

# GOOGLE
NEXT_PUBLIC_MAPS_API_KEY=
NEXT_PUBLIC_GEOCODING_API_KEY=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_RECAPTCHA_SECRET_KEY=

